<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SC_M4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
	<connectionStrings>
		<add name="Default" connectionString="database/data.db;Version=3;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SC_M4.Properties.Settings>
      <setting name="rect1_x" serializeAs="String">
        <value>437</value>
      </setting>
      <setting name="rect1_y" serializeAs="String">
        <value>376</value>
      </setting>
      <setting name="rect1_w" serializeAs="String">
        <value>297</value>
      </setting>
      <setting name="rect1_h" serializeAs="String">
        <value>79</value>
      </setting>
      <setting name="rect2_x" serializeAs="String">
        <value>316</value>
      </setting>
      <setting name="rect2_y" serializeAs="String">
        <value>79</value>
      </setting>
      <setting name="rect2_w" serializeAs="String">
        <value>408</value>
      </setting>
      <setting name="rect2_h" serializeAs="String">
        <value>575</value>
      </setting>
      <setting name="dFocus" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dZoom" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dPan" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dTilt" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="dExposure" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="keyCAM1" serializeAs="String">
        <value>MCU-VER</value>
      </setting>
      <setting name="keyCAM2" serializeAs="String">
        <value>731TMC</value>
      </setting>
      <setting name="useQrCode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="color_x" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="color_y" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="color_width" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="color_high" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ColorAverageType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="isAutoFocus" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isColors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isUseColorMaster" serializeAs="String">
        <value>False</value>
      </setting>
    </SC_M4.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>